<h1>Portfolio Items</h1>

<a href="portfolios/new">Create New Item with a href</a>
<%= link_to "Create New Item with link_to", new_portfolio_path%> 

<%# The different between _path and _url %>
<p>new_portfolio_path</p> <%# /portfolios/new%> <%# this is the relative path%>
<p>new_portfolio_url</p> <%# http://localhost:3000/portfolios/new%> <%# url takes in additional arugment, subdomain argument%>

<%= render @portfolio_items %>