
    <div class="blog-masthead">
      <div class="container">
        <nav class="nav blog-nav">
          <a class="nav-link " href="#">Home</a>
      <%= nav_helper 'nav-link', 'span'%>
            <%= login_helper 'nav-link'%>
        </nav>
      </div>
    </div>



