<h1>About Me</h1>
<hr>
<div class="row">
    <div class= "col-md-4">
        <%#<img src="https://thumbs.dreamstime.com/b/spring-flowers-blue-crocuses-drops-water-backgro-background-tracks-rain-113784722.jpg" alt="Blue Crocuses Flowers" width="300">%>
        <%#= image_tag "https://thumbs.dreamstime.com/b/spring-flowers-blue-crocuses-drops-water-backgro-background-tracks-rain-113784722.jpg", width: 300, alt: "Blue Crocuses Flowers"%>
        <%# using asset pipeline and pulling in images from the images/ folder %>
        <%= image_tag "salvatoreprofilepic.png", width: 300, alt: "Profile Pic" %>
    </div>
    <div class= "col-md-8">
    
    </div>
</div>
