<h1>Pages#contact</h1>
<p>Find me in app/views/pages/contact.html.erb</p>
<p><%= number_to_phone "5555555555"%></p>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d172139.41616039557!2d-122.48214606379666!3d47.61294318501113!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5490102c93e83355%3A0x102565466944d59a!2sSeattle%2C%20WA!5e0!3m2!1sen!2sus!4v1582560270291!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
