<div class="inner cover">
  <h1 class="cover-heading">Lorem</h1>
  <p class="lead">Amet excepteur or aspernatur, and eum, corporis. Voluptate accusantium nostrum. Perspiciatis veritatis consequatur but si occaecat. Magnam aliquam but veritatis doloremque elit iste. Deserunt. Laboris excepteur magni inventore.</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary"%>
  </p>
</div>

